<robot xmlns:xacro="http://ros.org/wiki/xacro" name="actuators">

  <xacro:macro name="simple_mechanism" params="name serial_number node">
  	<Mechanism id="${name}" type="simple">
  		<SerialNumber id="${serial_number}" />
  		<Node id="${node}" />
	</Mechanism>

</xacro:macro>

<xacro:macro name="joint" params="name type">
	<Joint id="${name}" type="${type}">
	</Joint>
</xacro:macro>

<xacro:macro name="actuator" params="name serial_number node" >
	<Actuator id="${name}">
		<SerialNumber id="${serial_number}" />
		<Node id="${node}" />
	</Actuator>
</xacro:macro>

<xacro:macro name="two_active_joint_mechanism" params="mechanism_name actuator0_name actuator1_name joint0_name joint1_name actuator0_serial actuator0_node actuator1_serial actuator1_node " >
	<Mechanism id="${mechanism_name}" type="complex">
		<xacro:joint name="${joint0_name}" type="active"/>
		<xacro:joint name="${joint1_name}" type="active"/>
		<xacro:actuator name="${actuator0_name}" serial_number="${actuator0_serial}" node="${actuator0_node}" />
		<xacro:actuator name="${actuator1_name}" serial_number="${actuator1_serial}" node="${actuator1_node}" />
	</Mechanism>
</xacro:macro>

<xacro:macro name="forearm" params="mechanism_name serial_number athena1_node athena2_node">
    <Mechanism id="${mechanism_name}" type="forearm">
            <SerialNumber id="${serial_number}"/>
            <Nodes>
                <Athena1 id="${athena1_node}"/>
                <Athena2 id="${athena2_node}"/>
            </Nodes>
    </Mechanism>
</xacro:macro>

<xacro:macro name="forearm_new_firmware_mechanism" params="prefix forearm_index_serial_number forearm_middle_serial_number forearm_pinky_serial_number forearm_thumbroll_serial_number forearm_thumbpitch1_serial_number forearm_thumbpitch2_serial_number wrist_bottom_serial_number wrist_top_serial_number">

	<xacro:simple_mechanism name="${IndexFingerPitch1JointName}" serial_number="${forearm_index_serial_number}" node="${IndexFingerPitch1Node}"/>

	<xacro:simple_mechanism name="${MiddleFingerPitch1JointName}" serial_number="${forearm_middle_serial_number}" node="${MiddleFingerPitch1Node}"/>

	<xacro:simple_mechanism name="${PinkyPitch1JointName}" serial_number="${forearm_pinky_serial_number}" node="${PinkyPitch1Node}"/>

	<xacro:simple_mechanism name="${ThumbRollJointName}" serial_number="${forearm_thumbroll_serial_number}" node="${ThumbRollNode}"/>

	<xacro:simple_mechanism name="${ThumbPitch1JointName}" serial_number="${forearm_thumbpitch1_serial_number}" node="${ThumbPitch1Node}"/>

	<xacro:simple_mechanism name="${ThumbPitch2JointName}" serial_number="${forearm_thumbpitch2_serial_number}" node="${ThumbPitch2Node}"/>

	<xacro:two_active_joint_mechanism mechanism_name="${prefix}Wrist" actuator0_name="${WristBottomActuatorName}" actuator1_name="${WristTopActuatorName}" joint0_name="${WristRollJointName}" joint1_name="${WristPitchJointName}" actuator0_serial="${wrist_bottom_serial_number}" actuator1_serial="${wrist_top_serial_number}" actuator0_node="${WristBottomActuatorNode}" actuator1_node="${WristTopActuatorNode}" />

</xacro:macro>
	

</robot>
