<robot xmlns:xacro="http://ros.org/wiki/xacro" name="valkyrie_template">

	<xacro:include filename="$(find val_description)/instance/instances/robots/xacro/mechanisms/mechanisms.xacro"/>
    <xacro:include filename="$(find val_description)/common/xacro/joint_names/valkyrie_joint_names.xacro"/>
	<xacro:include filename="$(find val_description)/common/xacro/nodes/forearm_new_firmware_test_nodes.xacro" />
	<xacro:include filename="$(find val_description)/common/xacro/actuator_names/valkyrie_actuator_names.xacro"/>

	<RobotInstance id="${instance}" />

        <Channels>
    		<Channel id="/left_forearm"/>
	</Channels>

	<Mechanisms>

		<xacro:forearm_new_firmware_mechanism prefix="left" forearm_index_serial_number="${leftforearmIndexSerialNumber}" forearm_middle_serial_number="${leftforearmMiddleSerialNumber}" forearm_pinky_serial_number="${leftforearmPinkySerialNumber}" forearm_thumbroll_serial_number="${leftforearmThumbRollSerialNumber}" forearm_thumbpitch1_serial_number="${leftforearmThumbPitch1SerialNumber}" forearm_thumbpitch2_serial_number="${leftforearmThumbPitch2SerialNumber}" wrist_bottom_serial_number="${leftWristBottomActuatorSerialNumber}" wrist_top_serial_number="${leftWristTopActuatorSerialNumber}" />
		
	</Mechanisms>
    
	<Devices>
	</Devices>
</robot>
